[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ghp-import = "*"

[requires]
python_version = "3.8"

[packages.pelican]
extras = [ "markdown",]
